/Scraper/*
/Classifier/*
/KeywordDictionaries/*
/Scraper/firstTimeReviewScript.sh
/Scraper/CreateItunesFiles.sh
/Scraper/MeiReviews/
/Scraper/RawReviews/
/Scraper/ScrapeGames.sh
/Scraper/iOS_Mei_Reformatted.numbers
/Scraper/jsonFiles
/Scraper/listofIDs.txt
/Scraper/masterIdFile.txt
/Scraper/phpTest.php
/Scraper/removeDuplicates
/Scraper/reviewFiles
/Scraper/testScript.sh
/Scraper/idCount
/Scraper/idCountPaper
/Scraper/idsToJson.py
/Scraper/masterIdFile.txt
/Scraper/masterIdFile2.txt
/Scraper/reviewScraper.php
/Scraper/versionFromJson.python
