*.pyc
/Scraper/*.pyc
/researchUtil/*.pyc
/Test/DontAdd.txt
/Classifier/*
/KeywordDictionaries/*
/Scraper/firstTimeReviewScript.sh
/Scraper/CreateItunesFiles.sh
/Scraper/MeiReviews/
/Scraper/MeiReviews/*
/Scraper/RawReviews/
/Scraper/RawReviews/*
/Scraper/ScrapeGames.sh
/Scraper/iOS_Mei_Reformatted.numbers
/Scraper/jsonFiles/
/Scraper/htmlFiles/
/Scraper/htmlFiles/*
/Scraper/jsonFiles/*
/Scraper/historyFiles/*
/Scraper/historyFiles/
/Scraper/listofIDs.txt
/Scraper/masterIdFile.txt
/Scraper/phpTest.php
/Scraper/removeDuplicates
/Scraper/reviewFiles
/Scraper/reviewFiles/*
/Scraper/testScript.sh
/Scraper/idCount
/Scraper/idCountPaper
/Scraper/idsToJson.py
/Scraper/masterIdFile.txt
/Scraper/masterIdFile2.txt
/Scraper/reviewScraper.php
/Scraper/versionFromJson.python
/Scraper/PaperCorpusIdList.txt
/Scraper/Top50_12_30.txt
/Scraper/getReleaseNoGrowth.py
/Scraper/idsToJson.py
/Scraper/resolveReviews.py
/Scraper/revDist.py
/Scraper/todaysSampleFile.txt
/Scraper/todaysUpdated.txt
/Scraper/top100_free_games_2_2_2014.txt
